VITE_API_URL=https://api.staywise.miami/api/v1
VITE_SOCKET_URL=https://api.staywise.miami
VITE_COMPANY_NAME=Stay Wise
VITE_COMPANY_EMAIL=info@staywise.miami
VITE_COMPANY_PHONE=(305) 615-3735
VITE_COMPANY_PHONE_HREF=+13056153735
VITE_COMPANY_ADDRESS=1717 N Bayshore Dr. Ste R217, Miami, FL
